<.header current_user={assigns[:current_user]} />
<main class="flex-1 px-4 py-8 sm:px-6 lg:px-8">
  <div class="w-full max-w-6xl mx-auto">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
