<div class="w-full">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    <.ip_address ip_info={@ip_info} />
    <.text_encoder />
    <.password_generator />
    <.json_formatter class="md:col-span-2 lg:col-span-3" />
  </div>
</div>
